---
layout: default
---

<section >
    <div class="container">
{% for post in paginator.posts limit:4%}
            <article>
                <header>
                    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                    <h5>{{ post.date | date: "%-d %B %Y" }}&nbsp;&nbsp;| &nbsp;&nbsp;{{ post.categories | join: ', ' }}</h5>
                </header>
                <section class="post-content">
                </br>
                    {{ post.content | truncatewords: 100 }}
                </section>
                <section class="special">
                    <ul class="actions">
                        <li><a href="{{ site.baseurl }}{{ post.url }}" class="button special">Read More</a></li>
                    </ul>
                </section>
            </article>
        {% endfor %}
    </div>



<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}"  class="button special2">Previous</a>
  {% else %}
    
  {% endif %}
  <span class="page_number"> <!--{{ paginator.page }} / {{ paginator.total_pages }} --></span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="button special2">Next</a>
  {% else %}

  {% endif %}
</div>
</section>

<!--{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}-->

    <script type="text/javascript">
      var pollfishConfig = {
        api_key: "88724b49-48e9-4bbd-aee4-ee24ba112e72",
        indicator_position: "BOTTOM_RIGHT",
        debug: true,
        offerwall: true,
        // https://www.pollfish.com/docs/webplugin. 
        // Set the ready function to prevent autostarting the survey panel
        ready: onOfferwallReady,
        surveyNotAvailable: onSurveyNotAvailable,
        surveyCompletedCallback: onSurveyCompleted,
        userNotEligibleCallback: onUserDisqualified,
      };
      function onOfferwallReady(data) {
        
          Pollfish.showFullSurvey();
      
      }
 
    </script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://storage.googleapis.com/pollfish_production/sdk/webplugin/pollfish.min.js"></script>

<!--<section id="one" >
    <div class="container">
        {% for post in site.posts limit:5 %}
            <article>
                <header>
                    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                    <h5>{{ post.date | date: "%-d %B %Y" }}</h5>
                </header>
                <section class="post-content">
                    {{ post.content | truncatewords: 230 }}
                </section>
                <section class="special">
                    <ul class="actions">
                        <li><a href="{{ site.baseurl }}{{ post.url }}" class="button special">Read More</a></li>
                    </ul>
                </section>
            </article>
        {% endfor %}
    </div>
</section>-->
<!--<section>
    <div class="container">
        <div class="features">
        {% for post in site.posts offset:1 %}
            <article>
                <section class="excerpt">
                <header>
                    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                </header>
                
                    {{ post.content | truncatewords: 30 }}
                </section>
                <footer>
                    <ul class="actions">
                        <li><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read More</a></li>
                    </ul>
                </footer>
                <div class="clear"></div>
            </article>
        {% endfor %}
        </div>
    </div>
-->
