<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.png" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Andreas Vourkos</a></h1>
            <p>Working on the Android side of things<br/>
            and  I'm totally fine with that</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <!--<li><a href="{{ site.baseurl }}/contact">Monetization Tips</a></li>-->
     
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                 <li><a href="https://twitter.com/vourkosa" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.linkedin.com/in/andreasvourkos" class="icon fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
                <li><a href="https://github.com/vourkosa" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
            </ul>
        </footer>
    </section>

