<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.png" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Andreas Vourkos</a></h1>
              <p>Building mobile apps since the early days of J2ME...</p>
            <span class="image pollfish"><a href="https://www.pollfish.com" target="_blank"> <img  src="{{ site.baseurl }}/images/polfish.png" alt="" /></a></span>
          <p>The mobile engineer behind <a href="https://www.pollfish.com" target="_blank">Pollfish</a> Android and iOS SDKs</p>

        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/android">Android Development</a></li>
                <li><a href="{{ site.baseurl }}/ios">iOS Development</a></li>
                <li><a href="{{ site.baseurl }}/monetization">Monetization Tips</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                 <li><a href="https://twitter.com/vourkosa" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.linkedin.com/in/andreasvourkos" class="icon fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
                <li><a href="https://github.com/vourkosa" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
            </ul>
        </footer>
    </section>

